<div class="col">
    <p><a href="/user/{{id}}" id="user-id">{{name}}</a></p>
</div>
<div class="col text-center">
    <p>{{points}}</p>
</div>
<div class="col text-center">
    <p>{{fav_team}}</p>
</div>


