<div class="card-columns mx-auto d-flex justify-content-center col-12">
  <form class="login-form mt-5">
    <div class="card-body text-center" id="login-card">
      <img class="card-logo" src="../images/logo.jpg">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" id="loginInputEmail" autocomplete="off">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="loginInputPassword" autocomplete="off">
        </div>
        <button class="btn btn-primary me-md-2" id="login-button" type="submit">Login!</button>
          <br>
          <br>
        <div class="card-footer">
            <p>New to NFL BETS?</p>
            <a href="/signup" class="btn btn-primary me-md-2" id="create-account-button" type="button">Create New Account</a>
        </div>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>